@{
    Layout = "~/Views/Shared/_Layout_Account.cshtml";

}


@{

    string language = "ru";

    var ForgotPassword = "Забыли Пароль ?";
    var PhoneNumber = "Ваш номер телефона";
    var BtnSend = "Отправить СМС пароль";




    language = ViewBag.language;

    switch (language)
    {


        case "kz":
            ForgotPassword = "Құпия сөзді ұмыттыңыз ба?";
            PhoneNumber = "Телефон нөміріңіз";
            BtnSend = "SMS құпия сөзін жіберу";
            break;
    }


}


<div class="container" style="position:absolute">
    <div class="row">
        <div class="col-xs-12">
            <div id="login-box">
                <div id="login-box-holder">
                    <div class="row">
                        <div class="col-xs-12">
                            <header id="login-header">
                                <div id="login-logo">
                                    <img src="~/Content/img/logo.png" alt="" />
                                </div>
                            </header>
                            <div id="login-box-inner">


                                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)


                                    <span>


                                        @ForgotPassword



                                    </span>

                                    <div class="input-group" style="margin-top:18px">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>

                                        <input type="text" class="form-control" placeholder="@PhoneNumber" name="UserName" id="phone-mask" minlength="15" required>

                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button id="btnsuc" type="submit" class="btn btn-success col-xs-12">@BtnSend</button>
                                        </div>
                                    </div>







                                }
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


