@model  OnlineCourseZertis.Models.Premium_OrderId


    @{
        ViewBag.Title = "TakeEnableVL";
        Layout = "~/Views/Shared/_Layout_portal.cshtml";
    }



    <section class="content">
    <div class="row">

        <div class="col-xs-12 col-md-12 ">

            <!-- Box Comment -->
            <div class="box box-widget">


                <form method="post">
                    
                

                    <div class="form-group">
                        <label for="Name">Название</label>
                        <input type="text" class="form-control" name="" required>
                        <input type="text" class="form-control" name="Name" required>
                        <input type="text" class="form-control" name="Name" required>
                    </div>

                  




                </form>

                </div>

            </div>

        </div>
        </section>
