
@{
    Layout = "~/Views/Shared/_LayoutLearn.cshtml";
}



<header class="main-box-header clearfix header-title-l">
    <h2 style="font-weight:900 !important">Смена пароля</h2>
</header>



<div class="container modul">



    @using (Html.BeginForm("ChangePassword", "Manage", new { language = ViewBag.language }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <p class="message-success">@ViewBag.StatusMessage</p>

        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>

            <input type="password" id="password_1" class="form-control" placeholder="Текущий пароль" name="OldPassword" required>

            <span style="cursor:pointer" class="input-group-addon" onclick="showpassword(1)"><i class="fa fa-eye"></i></span>
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>

            <input type="password" id="password_2" class="form-control" placeholder="Новый пароль" name="NewPassword" required>

            <span style="cursor:pointer" class="input-group-addon" onclick="showpassword(2)"><i class="fa fa-eye"></i></span>
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>

            <input type="password" id="password_3" class="form-control" placeholder="Подтверждение пароля" name="ConfirmPassword" required>

            <span style="cursor:pointer" class="input-group-addon" onclick="showpassword(3)"><i class="fa fa-eye"></i></span>
        </div>

        <br />
        <button type="submit" class="change_pass_btn btn btn-success"> <i class="fa fa-key"></i> Изменить пароль</button>

    }

</div>






<script>

    function showpassword(Id) {
        var x = document.getElementById("password_" + Id);
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>