.btn_save_premium {
    padding: 5px 8px;
    border-radius: 3px;
    font-size: 17px;
    cursor: pointer;
}

.checkPublish {
    font-size: 18px;
}

    .checkPublish > input {
        cursor: pointer;
    }


    .checkPublish > input {
        margin-left: 0px !important;
    }

.disabled {
    background-color: #eee;
    opacity: 1;
    pointer-events: none;
}

.select-menu-table {
    float: right;
    max-width: 300px;
}


.SetCTVL .form-group input {
    width: 100px;
    margin-right:10px;
    float:left;
}

.tb_control {
padding:15px;
}

.a_setCompleteTR {
cursor:pointer;
}